@model IEnumerable<school.Models.School>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên trường học</th>
            <th>Địa chỉ</th>
            <th>Sức chứa</th>
            <th>Thời gian thành lập</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SchoolId</td>
            <td>@item.SchoolName</td>
            <td>@item.Address</td>
            <td>@item.Capacity</td>
            <td>@item.FoundedTime</td>
            <td>
                <div class="btn-group">
                        <form asp-action="Details" asp-route-id="@item.SchoolId" method="get">
                            <button type="submit" class="btn btn-primary">Details</button>
                        </form>
                        <form asp-action="Edit" asp-route-id="@item.SchoolId" method="get">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@item.SchoolId" method="get" >
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

 
 <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("Create")'">Create New</button>

