@model IEnumerable<school.Models.User>


<h2>Users</h2>

<p>
    <a asp-action="Create">Create New Student</a>
    <a asp-action="CreateTeacher"> Create New Teacher </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
               Full Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                     <div class="btn-group">
                            <form asp-action="Details" asp-route-id="@item.UserId" method="get">
                                <button type="submit" class="btn btn-primary">Details</button>
                            </form>
                            <form asp-action="Edit" asp-route-id="@item.UserId" method="get">
                                <button type="submit" class="btn btn-warning">Edit</button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@item.UserId" method="get" >
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

