@model IEnumerable<school.Models.Class>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên lớp học</th>
            <th>Tên khoa</th>
            <th>Sức chứa</th>
            <th>Thời gian thành lập</th>
            <th>Số lương sinh viên hiện tại</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
{
    <tr>
        <td>@item.ClassId</td>
        <td>@item.ClassName</td>
        <td>@item.Faculty.FacultyName</td>
        <td>@item.Capacity</td>
        <td>@item.CreatedDate</td>
        <td>@(item.Students?.Count ?? 0)</td>
        <td>
                <div class="btn-group">
                        <form asp-action="Details" asp-route-id="@item.ClassId" method="get">
                            <button type="submit" class="btn btn-primary">Details</button>
                        </form>
                        <form asp-action="Edit" asp-route-id="@item.ClassId" method="get">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@item.ClassId" method="get" >
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                </div>
        </td>
    </tr>
}
    </tbody>
</table>

 <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("Create")'">Create New</button>
