@model Faculty

<h1>Edit Faculty</h1>

<form asp-action="Edit" method="post">
   <div class="form-group">
        <label asp-for="FacultyId"></label>
        <input type="text" value="@Model.FacultyId" asp-for="FacultyId"  class="form-control" />
        <span asp-validation-for="FacultyId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FacultyName"></label>
        <input type="text" value="@Model.FacultyName" asp-for="FacultyName"  class="form-control" />
        <span asp-validation-for="FacultyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input type="number" value="@Model.Capacity" asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="SchoolId" class="control-label"></label>
    <select asp-for="SchoolId" class="form-control">
    @foreach (var school in (IEnumerable<School>)ViewBag.Schools)
    {
       <option value="@school.SchoolId" selected="@((school.SchoolId == Model.School.SchoolId) ? "selected" : null)">@school.SchoolName</option>

    }
    </select>
    <span asp-validation-for="SchoolId" class="text-danger"></span>
</div>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Details" asp-route-id="@Model.FacultyId">Cancel</a>
    </div>
</form>
