@model X.PagedList.IPagedList<school.Models.Faculty>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<h2>Faculty List</h2>
<div>
    <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("Create")'">Create New</button>
</div>
 

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên Khoa</th>
            <th>Sức chứa</th>
            <th>Tên trường</th>
            <th>Ngày thành lập</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FacultyId)</td>
                <td>@Html.DisplayFor(modelItem => item.FacultyName)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>@Html.DisplayFor(modelItem => item.School.SchoolName)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>
                     <div class="btn-group">
                            <form asp-action="Details" asp-route-id="@item.FacultyId" method="get">
                                <button type="submit" class="btn btn-primary">Details</button>
                            </form>
                            <form asp-action="Edit" asp-route-id="@item.FacultyId" method="get">
                                <button type="submit" class="btn btn-warning">Edit</button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@item.FacultyId" method="get" >
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center my-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index",new {page=page}), new PagedListRenderOptions() { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" }, UlElementClasses = new string[] { "pagination" } })
        </ul>
    </nav>
</div>
