@model IEnumerable<school.Models.Faculty>

<h2>Faculty List</h2>
<div>
    <button type="button" class="btn btn-primary"  onclick="location.href='@Url.Action("Create")'">Create New</button>
</div>
 

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên Khoa</th>
            <th>Sức chứa</th>
            <th>Tên trường</th>
            <th>Ngày thành lập</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FacultyId)</td>
                <td>@Html.DisplayFor(modelItem => item.FacultyName)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>@Html.DisplayFor(modelItem => item.School.SchoolName)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>
                     <div class="btn-group">
                            <form asp-action="Details" asp-route-id="@item.FacultyId" method="get">
                                <button type="submit" class="btn btn-primary">Details</button>
                            </form>
                            <form asp-action="Edit" asp-route-id="@item.FacultyId" method="get">
                                <button type="submit" class="btn btn-warning">Edit</button>
                            </form>
                            <form asp-action="Delete" asp-route-id="@item.FacultyId" method="get" >
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
